.menu {
	background: black;
	color: #aaa;
	line-height: 30px;
	font-size: 0.6rem;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	white-space: nowrap;

	ul {
		@extend %section-content;
		list-style: none;
		display: flex;
		justify-content: space-between;
		max-width: 700px;
	}

	a {
		color: inherit;
		display: inline-block;
		padding-left: 0.5em;
		padding-right: 0.5em;
	}

	@include mq("phone-wide", max) {
		overflow-x: scroll;

		ul {
			display: inline-flex;
			width: auto;
			padding-left: $padding-mobile;
			padding-right: $padding-mobile;
			max-width: none;
		}

		a {
			padding-left: 1em;
			padding-right: 1em;
		}
	}
}
