extend ../layouts/app

block variables
	- title = "Наша жизнь — Любимая ферма"
		
block content
	header.news-header
		a(href="index.html")
			h1.logo Любимая ферма
		h2 Наша жизнь
		
	section.news-items
		mixin news-item(image, title, date)
			article.news-item
				h3= title
				time= date
				img(src="img/news/#{image}.jpg", alt= title)
				block
				
		+news-item("birthday", "День рождения рынка", "23 сентября")
			p 15 сентября исполнилось 2 года «Любимой ферме». В этот день у нас была особая программа.
			p В прошлом году на расширенном заседании городской и областной администрации было принято решение об оптимальной форме организационно-правового устройства управляющей организации нового Центрального рынка. Им станл кооператив, в состав которого вошли воронежские сельхозпроизводители.
			p Комментируя это решение, губернатор Воронежской области Алексей Васильевич Гордеев отметил, что Центральный рынок Воронежа должен стать «витриной для местных товаропроизводителей. Это должен быть именно сельскохозяйственный рынок с короткой схемой реализации воронежской продукции в интересах местных потребителей».
				
		+news-item("master-classes", "Мастер-классы", "19 сентября")
			p В прошлом году на расширенном заседании городской и областной администрации было принято решение об оптимальной форме организационно-правового устройства управляющей организации нового Центрального рынка. Им станл кооператив, в состав которого вошли воронежские сельхозпроизводители.
			p Комментируя это решение, губернатор Воронежской области Алексей Васильевич Гордеев отметил, что Центральный рынок Воронежа должен стать «витриной для местных товаропроизводителей. Это должен быть именно сельскохозяйственный рынок с короткой схемой реализации воронежской продукции в интересах местных потребителей».
				
		+news-item("cooking-shows", "Кулинарные шоу", "10 сентября")
			p В прошлом году на расширенном заседании городской и областной администрации было принято решение об оптимальной форме организационно-правового устройства управляющей организации нового Центрального рынка. Им станл кооператив, в состав которого вошли воронежские сельхозпроизводители.
			p Комментируя это решение, губернатор Воронежской области Алексей Васильевич Гордеев отметил, что Центральный рынок Воронежа должен стать «витриной для местных товаропроизводителей. Это должен быть именно сельскохозяйственный рынок с короткой схемой реализации воронежской продукции в интересах местных потребителей».
				
	.news-navigation
		a.navigation-prev(href="#") Предыдущая страница
		a.navigation-next(href="#") Следующая страница
