.contacts {
	max-width: 24rem;
	box-sizing: border-box;
	padding: 2rem 2.5rem;
	background-color: white;
	font-size: 0.9rem;
	border: 1px solid #BED88F;

	h2 {
		@extend %underlined;
		color: $color-green;
		font-size: 2rem;
		margin-bottom: 0.5em;

		&:after {
			background: $color-green;
			left: 0;
			transform: none;
		}
	}

	p+p { margin-top: 0.5em; }
	a[href^=tel] { color: inherit; }


	@include mq("tablet-wide", max) {
		max-width: 18rem;
		padding: 1.5rem 2rem;

		h2 { display: none; }
	}

	@include mq("phone-wide", max) {
		max-width: none;
		padding-left: $padding-mobile;
		padding-right: $padding-mobile;
		border: none;
		font-size: 1rem;

		h2 {
			display: block;
			font-size: 1.8rem;
		}
	}
}
