%cutoff {
	&::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 2.5rem;
		background: url('img/header/cutoff.png') center/contain repeat-x;
	}
	
	&::before {
		@include mq("phone-wide", max) {
			height: 2rem;
		}
	}
}
