
@font-face {
	font-family: Lora;
	src: url(../fonts/Lora/Lora-Regular.ttf);
}
$font-primary: 'Tahoma', sans-serif;
$font-secondary: 'Lora', serif;

// $url-lato: '../fonts/lora';

// @font-face {
// 	$weight: 'regular';
// 	font-family: 'Lora';
// 	src: url('#{$url-lato}/#{$weight}.eot');
// 	src: url('#{$url-lato}/#{$weight}.eot?#iefix') format('embedded-opentype'), url('#{$url-lato}/#{$weight}.woff2') format('woff2'), url('#{$url-lato}/#{$weight}.woff') format('woff'), url('#{$url-lato}/#{$weight}.ttf') format('truetype');
// 	font-weight: 400;
// 	font-style: normal;
// }
