@import "our-life/news-preview";

.our-life {
	@extend %section-content;
	padding-top: 3rem;
	padding-bottom: 3rem;
	text-align: center;

	h2 { @extend %underlined; }
	.more-news { @extend %green-button; }

	.news-previews {
		margin-top: 50px;
		margin-bottom: 2rem;
		display: flex;
		justify-content: space-between;
	}
}
