@import "our-life/news-preview";

.our-life {
	@extend %section-content;
	padding-top: 3rem;
	padding-bottom: 3rem;
	text-align: center;
	@include mq("phone-wide") {
		width: 100%;
	}

	h2 {
		@extend %underlined; 
		@include mq("phone-wide") {
			text-align: left;
			padding-left: $padding-mobile;
			&:after { left: $padding-mobile;}
		}
	}
	.more-news { @extend %green-button; }

	.news-previews {
		margin-top: 50px;
		margin-bottom: 2rem;
		display: flex;
		justify-content: space-between;
		@include mq("tablet-wide") {
			flex-direction: column;
		}
	}
}
