$arrow-size: 20px;
$arrow-padding: 40px;

.news {
	padding-top: 60px;
	padding-bottom: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;

	h2 { @extend %underlined;}
}

.news-item {
	@extend %section-content;
	padding-bottom: 50px;

	h3 {
		font-family: $font-secondary;
		padding-bottom: 10px;
		font-size: 40px;
	}

	time {
		display: block;
		font-size: 18px;
 		color: #888;
	}

	img {
		margin-bottom: 30px;
		margin-top: 30px;
	}

	p { padding-bottom: 20px; }

}

.navigation {
	margin-bottom: 50px;
	@extend %section-content;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;

	a {
		cursor: pointer;
		padding: 5px 0;
		position: relative;
		font-family: $font-secondary;
		color: $color-green;
		&:before {
			position: absolute;
			top: 9px;
			content: "";
			width: $arrow-size;
			height: $arrow-size;
			transform: rotate(-45deg);
			border: solid 1px $color-green;
			border-bottom: transparent;
			border-right: transparent;
		}
		&[data-direction="left"] {
			padding-left: $arrow-padding;
			&:before { left: 5px;}
		}
		&[data-direction="right"] {
			padding-right: $arrow-padding;
			&:before {
				right: 5px;
				transform: rotate(135deg);}
		}
	}
}
@include mq("tablet-wide") {
	.news-item {
		overflow: hidden;
		width: 100%;
		box-sizing: border-box;
		padding-left: $padding-mobile;
		padding-right: $padding-mobile;
		h3 { font-size: 2rem; }
		img { margin-left: -20px;}

	}
	.navigation {
		width: 100%;
		padding-left: $padding-mobile;
		padding-right: $padding-mobile;
			a { font-size: 0.7rem;
				width: 80px;
				&:before {width: $arrow-size + 10px; height: $arrow-size - 10px; top: 15px;}
				&[data-direction="left"] { padding-left: $arrow-padding - 20px; }
				&[data-direction="right"] { padding-right: $arrow-padding - 20px; text-align: right;}
			}
		}
	}
@include mq("phablet") {
	.navigation a:before {width: $arrow-size - 15px; height: $arrow-size - 15px;}
}
@include mq("phone-wide") {
	.news h2 { font-size: 3rem;}
	.news h2:after { left: 50%; transform: translateX(-50%);}
}
