.news-item {
	@extend %section-content;
	padding-bottom: 50px;

	h3 {
		font-family: $font-secondary;
		padding-bottom: 10px;
		font-size: 40px;
	}

	time {
		display: block;
		font-size: 18px;
 		color: #888;
		margin-bottm: 1rem;
	}

	img {
		&.alignleft { float: left; }
		&.alignright { float: right; }
	}

	p, ul {
		&:not(:first-child) {
			margin-top: 1rem;
		}
	}

	ul { padding-left: 2em; }

	@include mq("tablet-wide") {
		overflow: hidden;
		width: 100%;
		box-sizing: border-box;
		padding-left: $padding-mobile;
		padding-right: $padding-mobile;

		h3 { font-size: 2rem; }
	}
}
