.news-item {
	@extend .page-content;
	padding-bottom: 50px;

	h3 {
		font-family: $font-secondary;
		padding-bottom: 10px;
		font-size: 40px;
		line-height: 1.2;
	}

	time {
		display: block;
		font-size: 18px;
 		color: #888;
		margin-bottm: 1rem;
	}

	img {
		max-width: 100%;
		height: auto;

		&.alignleft { float: left; }
		&.alignright { float: right; }
	}

	@include mq("tablet-wide") {
		overflow: hidden;
		box-sizing: border-box;

		h3 { font-size: 2rem; }
	}
}
