@include mq("850", max) {
	.footer h2 {
		font-size: 2rem;
		&:after { left: 20px;}
	}
}

@include mq("tablet-small", max) {
	.footer {
		height: 800px;
		.contacts {
			position: relative;
			left: auto;
			top: auto;
			width: 100%;
			height: 300px;
			box-sizing: border-box;
			padding-left: $mobile-padding;
		}
		h2 {
			font-size: 1.875em;
			&:after { left: 0;}
		}
		a, p, .map-link { padding-left: 0;}
	}
}
