.footer {
	height: 100vh;
	position: relative;
	background-color: $green;
	.contacts {
		position: absolute;
		left: 45px;
		top: 50px;
		background-color: #fff;
		width: 543px;
		height: 323px;
		box-sizing: border-box;
		padding-left: 50px;
		padding-top: 50px;}
	h2 {
		font-family: Lora;
		font-size: 3.125em;
		line-height: 1.32;
		text-align: left;
		color: $green;
		@extend %underline;
		&:after { background-color: $green; left: 30px;}
	}
	p {
		padding-left: 15px;
		font-size: 1.125em;
		text-align: left;
		color: #444444;
		padding-top: 20px;}
	.map-link {
		padding-left: 15px;
		padding-top: 0;
		color: $green;}
	a { 
		color: #444;
		text-decoration: none;
		display: block;
		padding-top: 20px;
		padding-left: 15px;}
}