.expertise
	.expertise-content
		.text
			h2 Экспертиза
			p Вся продукция, представленная на&nbsp;витринах нашего пространства, гарантированно проходит не&nbsp;только государственную ветеринарную проверку, но и&nbsp;нашу собственную экспертизу.  
			p Поэтому мы с&nbsp;уверенностью гарантируем качество продукции.
