.what-we-have 
	h2 Что&nbsp;у&nbsp;нас&nbsp;есть
	ul.product
		li.product-item.veg Овощи и фрукты
		li.product-item.meat Свежие мясо и рыба
		li.product-item.candy Кондитерские изделия
		li.product-item.tea Напитки, чай, кофе
		li.product-item.milk Молочная продукция
		li.product-item.soap Бытовая химия
