%green-button {
	font-size: 18px;
	line-height: 48px;
	text-align: center;
	border: none;
	border-radius: 8px;
	background-color: $color-green;
	color: white;
	padding: 0 2.5rem;
	display: inline-block;
	box-shadow: 0 4px 0 #5F8B10;
}
