.text-input {
	display: inline-block;
	border: 2px solid #aaa;
	box-sizing: border-box;
	padding: 10px 14px;
	border-radius: 8px;
	background: white;

	input {
		background: transparent;
		outline: none;
		border: none;
		width: 100%;
		line-height: 28px;
		font-size: 1rem;
	}
}
