footer.footer
	.contacts-block
		.contacts 
			h2 «Любимая ферма»
			p Каждый день с 7:00 до 21:00
			p Москва, Носовихинское шоссе 4
				= " "
				a(href="https://yandex.ru/maps/-/CBUxRQbSGB") (Открыть&nbsp;в&nbsp;Яндекс.Картах)
			p
				a(href="tel:+78009567664") +7&nbsp;800&nbsp;956&nbsp;7664
