.map
	.contacts-block
		.contacts 
			h2 «Любимая ферма»
			p Каждый день с 7:00 до 21:00
			p Москва, Носовихинское шоссе, вл.&nbsp;4
				= " "
				a(href="https://yandex.ru/maps/-/CBUxRQbSGB") (Открыть&nbsp;в&nbsp;Яндекс.Картах)
			p
				a(href="tel:+74957016080") +7&nbsp;495&nbsp;701&nbsp;6080
