nav.menu
	ul
		li
			a(href="#mission", data-scroll-to=".mission") Наша миссия
		li
			a(href="#what-we-have", data-scroll-to=".what-we-have") Что у нас есть
		li
			a(href="#our-life", data-scroll-to=".our-life") Наша жизнь
		li
			a(href="#tenants", data-scroll-to=".tenants") Арендаторам
		li
			a(href="#contacts", data-scroll-to=".contacts") Контакты
