.social
	.social-content
		.text
			h3 Будь в&nbsp;курсе
			p Чтобы узнавать о&nbsp;новых поступлениях и&nbsp;акциях, читайте нас в&nbsp;соцсетях:
			a.facebook(href="https://www.facebook.com/lubimayaferma/") Фейсбук
			a.instagram(href="https://www.instagram.com/lubimaya_ferma/") Инстаграм
