footer.footer
	.contacts 
		h2 «Любимая ферма»
		p 
			| Каждый день с 7:00 до 21:00
		p
			| Москва, Носовихинское шоссе 4 

		a(target="_blank" href="https://yandex.ru/maps/-/CBUdaOBq-D" ).map-link (Открыть в Яндекс.Картах)

		a(href="tel:8 800 956 7664") 8 800 956 7664