doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		link(rel='stylesheet', href='css/main.css')
		meta(name='viewport', content='width=device-width')
		title RENAME ME
	body
		include header
		include mission
		include production
		//- include our-live
		include expertise
		include count
		include tenants
		include footer
		
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
		script(src="script/renameMe.js")

