doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name="description" content="Любимая ферма, рынок")
		meta(name="keywords" content="Любимая ферма, рынок москва, ферма")
		//- meta(property="og:title" content="Любимая ферма")
		//- meta(property="og:description" content="«Любимая ферма» создана для ценителей вкусной и здоровой еды. ")
		//- meta(property="og:image" content="SET_IMAGE")
		//- meta(property="og:url" content="SET_IMAGE")
		link(rel='stylesheet', href='css/main.css')
		//- link(rel="icon" href="img/favicon.ico"  type="image/ico" sizes="16x16")
		meta(name='viewport', content='width=device-width')
		title Любимая ферма
	body
		include sections/header
		include sections/mission
		include sections/what-we-have
		//- include sections/our-live
		include sections/expertise
		include sections/count
		include sections/tenants
		include sections/footer
		
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
		script(src="js/main.js")
