.production 
	h2 Что&nbsp;у&nbsp;нас&nbsp;есть
	.product
		.product-item.fruits
			p Овощи и фрукты
		.product-item.meat
			p Свежие мясо и рыба
		.product-item.confectionery
			p Кондитерские изделия
		.product-item.drinks
			p Напитки, чай, кофе
		.product-item.milk
			p Молочная продукция
		.product-item.household
			p Бытовая химия