.production 
	h2 Что&nbsp;у&nbsp;нас&nbsp;есть
	.product
		.product-item.veg Овощи и фрукты
		.product-item.meat Свежие мясо и рыба
		.product-item.candy Кондитерские изделия
		.product-item.tea Напитки, чай, кофе
		.product-item.milk Молочная продукция
		.product-item.soap Бытовая химия