.tenants
	h2 Арендаторам
	p
		span
			| «Любимая ферма» 
		| совмещает ряд ключевых преимуществ, и подойдёт и для опытных дилеров, и для начинающих
	.features
		.features-item.free Пробные пять рабочих дней бесплатно
		.features-item.place Готовое торговое место под ключ
		.features-item.seo Маркетинг продвижение включено
	button.call-back Обратный звонок