.tenants
	h2 Арендаторам
	p
		span
			| «Любимая ферма» 
		| совмещает ряд ключевых преимуществ, и подойдёт и для опытных дилеров, и для начинающих
	.features
		.features-item.free Пробные пять рабочих дней бесплатно
		.features-item.place Готовое торговое место под ключ
		.features-item.seo Маркетинг продвижение включено
	button.callback Обратный звонок
	form.callback-form.hide(action="" method="post" data-form)
		.text-input
			input(type="tel", placeholder="Телефон", name="phone")
		button(type="submit") Перезвоните мне