block variables
	- var newsLink = "news.html"
	- var isStatic = true

block header

block content
	include index/menu
	include index/header
	include index/mission
	include index/what-we-have
	include index/our-life
	include index/expertise
	include index/count
	include index/tenants
	include index/footer

block footer
