block variables
	- var indexLink = "index.html"
	- var prevLink = "javascript:void(0);"
	- var nextLink = "javascript:void(0);"

block header
		
block content
	header.news-header
		a(href!= indexLink)
			h1.logo Любимая ферма
		h2 Наша жизнь
		
	section.news-items
		block news-items
			include news/news-items
			
	.news-navigation
		block news-navigation
			a.navigation-prev(href!= prevLink) Предыдущая страница
			a.navigation-next(href!= nextLink) Следующая страница
			
block footer
