block variables
	- var indexLink = "index.html"

block header
		
block content
	header.news-header
		a(href!= indexLink)
			h1.logo Любимая ферма
		h2 Наша жизнь
		
	section.news-items
		block news-items
			include news/news-items
			
	.news-navigation
		block news-navigation
			a.navigation-prev(href="javascript:void(0);") Предыдущая страница
			a.navigation-next(href="javascript:void(0);") Следующая страница
			
block footer
