@include mq("desktop", max) {
	.mission .company {
		background-size: 650px;
		// .left { width: 100%;}
	}
}
@include mq("tablet-wide", max) {
	.mission {
		height: auto;
		font-size: 14px;
		.about {
			padding-left: $mobile-padding;
			padding-right: $mobile-padding;
			h2 { width: 100%;text-align: left;}
			h2:after { left: 0;}
			padding-bottom: 50px;
			p {
				font-size: 1.25em;
				padding-top: 20px;
				width: 100%;
				text-align: left;}
			.cont { display: inline-block; padding-top: 20px;}
		}
		.feature {
			box-sizing: border-box;
			padding-left: $mobile-padding;
			padding-right: $mobile-padding;
			width: 100%;
			background:transparent url('../img/more.jpg') center top/250px 200px no-repeat;
			height: auto;
			padding-bottom: 50px;
			.right {
				width: 100%;
				padding-top: 230px;
				padding-bottom: 40px;
			}
			.attention-block { 
				width: 100%;
				border: none;
				height: auto;
				bottom: auto;
				left: auto;
				position: relative;
				margin-bottom: 0;
				font-size: 1.25em;
				padding: 40px 0 0 0;
				&:before {
					content: "";
					position: absolute;
					top: 0px;
					left: 0px;
					width: 61px;
					height: 3px;
					background-color: $green;

				}
			}
		}
		.company {
			background:transparent url('../img/love.jpg') center top/450px 280px no-repeat;
			padding: 310px 0 20px 0;
			height: auto;
			.left {
				width: 100%;
				padding-left: $mobile-padding;
				padding-right: $mobile-padding;
				span { padding-top: 20px; font-size: 1.3em; &:before { top: 0px;}}
			}
		}
	}
}
@include mq("desktop-wide", min) {
	.mission {
		.feature { width: 70%; }
		.company { padding-left: 15%; }
	
	}
}