@include mq("tablet-wide", max) {
	.mission {
		height: auto;
		font-size: 14px;
		padding: 0 $mobile-padding;
		.about {
			h2 { width: 100%;text-align: left;}
			h2:after { left: 0;}
			padding-bottom: 50px;
			p {
				padding-top: 20px;
				width: 100%;
				text-align: left;}
		}
		.feature {
			width: 100%;
			background:transparent url('../img/more.jpg') center top/250px 200px no-repeat;
			height: auto;
			padding-top: 200px;
			.right {
				width: 100%;
				padding-right: 0;
				padding-bottom: 20px;
			}
			.attention-block { 
				width: 100%;
				border: none;
				height: 150px;
				padding: 0;
				bottom: auto;
				left: auto;
				position: relative;
				margin-bottom: 0;
				&:before {
					content: "";
					position: absolute;
					top: 10px;
					left: 0;
					width: 61px;
					height: 3px;
					background-color: $green;

				}
			}
		}
		.company {
			background:transparent url('../img/love.jpg') center top/400px 350px no-repeat;
			padding: 370px 0 20px 0;
			height: auto;
			.left {
				span { padding-top: 20px; font-size: 1.3em; &:before { top: 0px;}}
			}
		}
	}
}
@include mq("desktop-wide", min) {
	.mission {
		.feature { width: 70%; }
		.company { padding-left: 15%; }
	
	}
}