.feature {
	height: 400px;
	width: 90%;
	font-family: Tahoma;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background:transparent url('../img/more.jpg') left center/450px 400px no-repeat;
	
	.right {
		align-self: flex-end;
		width: 520px;
	}
	.attention-block {
		position: absolute;
		width: 684px;
		height: 231px;
		border: solid 3px $green;
		box-sizing: border-box;
		padding: 0 85px;
		bottom: -250px;
		left: 20%;
		font-family: $second;
		padding: 60px 50px 50px 100px;
		text-align: left;
		font-size: 2em;
		color: #222;
		span { color: $green;}
	}
}