.mission {
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: relative;
	h3 {
		letter-spacing: 5.8px;
		color: #aaaaaa;
		text-transform: uppercase;
		text-align: left;
		font-weight: normal;
		padding-bottom: 15px;}
	p {
		color: #444444;
		font-size: 1.25em;
		line-height: 1.4;}

	@import "about";
	@import "feature";
	@import "company";
	
	
}













