@include mq("tablet-wide", max) {
	.our-live {
		padding-bottom: 30px;
		height: auto;
		max-height: none;
		h2 {padding-top: 50px;}
		.news {
			flex-direction: column;
			align-items: center;
		}
	}
}
@include mq("850", max) {
	.our-live h2 {
		font-size: 2.8em;
	}
}