@include mq("tablet-small", max) {
	.production {
		padding: 0 $mobile-padding 40px $mobile-padding;
		height: auto;
		background-position: center;
		.product {
			width: 100%;
			height: auto;
			.product-item {
				padding: 0 10px;
				box-sizing: border-box;
				height: auto;
				padding-top: 100px;
				margin-bottom: 20px;
				font-size: 0.75em;
			}
		}
	}
}
@include mq("phone-wide", max) {
	.production {
		h2 { font-size: 2.2em;}
	}

	
}
