.production {
	height: 100vh;
	max-height: 800px;
	background:transparent url('../img/what-we-have.jpg') left top/cover no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	h2 {
		@extend %underline;
		padding-top: 50px;
		color: #fff;
		&:after { background-color: white;}
	}
	.product {
		padding-top: 50px;
		display: flex;
		justify-content: space-around;
		flex-flow: wrap;
		height: 500px;
		width: 700px;
		.product-item {
			position: relative;
			border: 1px solid white;
			height: 200px;
			width: 220px;
			display: flex;
			justify-content: center;
			p {
				width: 150px;
				height: 40px;
				align-self: flex-end;
				font-size: 1.125em;
				text-align: center;
				color: #fff;}
		}
	}
}