.production {
	height: 100vh;
	max-height: 800px;
	background:transparent url('../img/what-we-have.jpg') left top/cover no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	h2 {
		@extend %underline;
		padding-top: 50px;
		color: #fff;
		&:after { background-color: white;}
	}
	.product {
		display: flex;
		justify-content: space-around;
		flex-flow: wrap;
		// flex-direction: column;
		height: 500px;
		width: 700px;
		.product-item {
			position: relative;
			width: 33%;
			padding-top: 150px;
			height: 20px;
			font-family: Tahoma, sans-serif;
			font-size: 1.125em;
			text-align: center;
			color: #fff;
		}
		$list: (veg, meat, candy, tea, milk, soap);
		@each $item in $list {
			.#{$item} {
				background:transparent url('../img/Icons/#{$item}.png') center center/40% no-repeat;
			}
		}
	}
}