block variables

doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')/
		meta(name="description" content="«Любимая ферма» создана для ценителей вкусной и здоровой еды.")/
		meta(name="keywords" content="Любимая ферма, рынок, москва, ферма")/
		//- meta(property="og:title" content="Любимая ферма")/
		//- meta(property="og:description" content="«Любимая ферма» создана для ценителей вкусной и здоровой еды.")/
		//- meta(property="og:image" content="http://lyubimayaferma.ru/img/share.jpg")/
		//- meta(property="og:url" content="http://lyubimayaferma.ru")//
		link(rel='stylesheet', href='css/main.css')/
		link(rel="icon" href="img/favicon.png")/
		link(rel="apple-touch-icon-precomposed" sizes="152x152" href="img/apple-icon.png")/
		meta(name='viewport', content='width=device-width')
		title= title
		
	body
		block content
		
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
		script(src="js/main.js")
