block variables
	- var isStatic = true

doctype html
html(lang='ru')
	include includes/header
		
	body
		block content
		
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
		script(src="js/main.js")
