mixin news-preview(img, title, date)
	.news-preview
		.image(style="background-image: url('img/news/#{img}.jpg');")
		.text
			a(href="news.html")
				h3= title
			time.date= date
			block
				
+news-preview("birthday", "День рождения рынка", "23 сентября")
	p 15 сентября исполнилось 2 года «Любимой ферме». В этот день у нас была особая программа.

+news-preview("master-classes", "Мастер-классы", "19 сентября")
	p Список предстоящих мастер-классов, запланированых на октябрь.
	
+news-preview("cooking-shows", "Кулинарные шоу", "10 сентября")
	p Смотреть, как умело делает свою работу профессионал, всегда завораживает.
