@include mq("desktop-wide", min) {
	.expertise {
		padding: 0 10%;
		background-position: 10% center;
	}
}
@include mq("desktop", max) {
	.expertise { 

		padding: 20px $mobile-padding 40px $mobile-padding;
		height: 570px;
		font-size: 14px;
		flex-direction: row;
		background:#fafafa url('../img/experts.jpg') center bottom/400px 270px no-repeat;
		.right { align-self: flex-start; width: 100%;}
		
	}
}