extend ../layouts/pages/index

block header
	<?php get_header(); ?>

block news-previews
	include ../layouts/pages/index/our-life/news-previews.php
	
block more-news
	include ../layouts/pages/index/our-life/more-news.php

block footer
	<?php get_footer(); ?>
