extend ../layouts/pages/news

block variables
	- var indexLink = "<?php echo home_url(); ?>"

block header
	<?php get_header(); ?>
	
block news-items
	include ../layouts/pages/news/news-items.php
	
block news-navigation
	<?php posts_nav_link(' ', 'Предыдущая страница', 'Следующая страница'); ?>
	
block footer
	<?php get_footer(); ?>
