.mission
	.intro
		h2 Наша миссия
		p 
			strong «Любимая ферма» 
			| создана для ценителей вкусной и здоровой еды. 
			span.cont Для тех, кто стремится получать лучшее и поддерживает фермеров и производителей натуральных продуктов.
			
	.bigger-than-market
		.text 
			h3 Больше, чем рынок
			p «Любимая ферма» — это не только место для покупок, у нас вы сможете увидеть и попробовать всё разнообразие русской, вьетнамской, среднеазиатской кухонь и других мировых кулинарных направлений, которые широко представлены на нашем фуд-корте. 
			
	.new-format
		strong «Любимая ферма»
		= " "
		| — это новый формат локального торгового пространства.
	
	.love-our-work
		.text
			h3 Любим своё дело
			p Мы собрали всех вместе — фермеров, энтузиастов и людей, любящих своё дело и желающих поделиться своими продуктами, блюдами и настроением со всеми, кто придёт к нам в гости!
			p Вы сможете посетить кулинарные шоу и мастер классы. И все это в шаговой доступности от вашего дома.

			p.invitation Ждем всех в&nbsp;ТК&nbsp;Никольский&nbsp;парк!
